body {
    user-select: none;
}

main {
    display: flex;
    padding: 5px 0px;
}

.center-blocks {
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px 0px 0px;
    flex-grow: 1;
}

.block {
    width: calc(33.33% - 126px/3);
    min-width: 300px;
    max-width: 800px;
    height: calc(50% - 54px/2);
    max-height: 700px;
    background-color: #eee;
    margin: 0px 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 40px;
    margin-bottom: 50px;
    text-decoration: none;

    color: #000; /* Додав колір тексту, якщо потрібно виділити текст на фоні зображення */
    background-size: cover; /* Розмір зображення відповідатиме розмірам блоку */
    background-position: center; /* Центрує зображення в блоку */
    background-repeat: no-repeat;
}
