.body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    height: 40px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

.header-left {
    display: flex;
    align-items: center;
}

.toggle-button {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.app-title h1 {
    margin-left: 20px;
}

.user-account {
    display: flex;
    align-items: center;
}

.profile-link {
    text-decoration: none;
    color: #fff;
}

.profile-button {
    background-color: #eee;
    color: #fff;
    width: 120px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-panel {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    transition: width 0.3s ease;
}

.navigation-panel:hover {
    width: 360px; /* Ширина при наведенні */
}

.navigation-panel ul {
    list-style: none;
    padding: 0;
}

.navigation-panel li {
    margin-bottom: 10px;
    transition: opacity 0.3s ease;
}

.navigation-panel:hover li {
    opacity: 1; /* Показати текст при наведенні */
}

.navigation-panel a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.navigation-panel a:hover {
    color: #eee; /* Зміна кольору тексту при наведенні на кнопку */
}

.navigation-panel:hover .round-button span {
    opacity: 1;
}

.navigation-panel.expanded {
    width: 360px; /* Змініть ширину за вашим вибором для розширеної панелі */
}

main {
    display: flex;
    padding: 5px 0px;
}

.center-blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    align-content: flex-start;
}

.block {
    width: 500px;
    height: 350px;
    background-color: #eee;
    margin: 0px 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 40px;
    margin-bottom: 60px;
}

.top-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.round-button {
    background-color: #eee;
    color: #000;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #ccc;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    transition: background-color 0.3s ease; /* Анімація при наведенні на кнопку */
    position: relative;
}

.round-button:hover {
    background-color: #ddd; /* Зміна кольору при наведенні */
}

.bottom-button {
    margin-top: auto; /* Встановлення нижньої кнопки внизу панелі */
}

.button-names {
    display: none; /* Приховано текст за замовчуванням */
}

.round-button span {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: calc(100% + 10px); 
    transform: translateY(-50%);
    transition: opacity 0.3s ease; /* Анімація при зміні прозорості */
}

.button-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}