.block {
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 40px;
    text-decoration: none;
    color: #000;

    align-items: center;
    margin: 0px 0px 20px 0px;
}

.block.full-height {
    width: auto;
    height: calc(100% - 2px);
}

.block.half-width {
    width: auto;
    height: calc(50% - 24px/2);
}